# Ignore IDE/editor-specific files
**/.vs/
**/.idea/

# Ignore Jupyter Notebook checkpoint files
**/.ipynb_checkpoints/

# Ignore python cache
**/__pycache__/
__pycache__

# Ignore training data
traffic_light_data/

# Ignore all video files in any Videos folder
#model/Resources/Videos/*.*

# Keep the folder itself
#!model/Resources/Videos/

# Ignore model weight files
**/yolov8n.pt
*.pt

# Ignore virtual environments
venv/
env/