# Ignore IDE/editor-specific files
**/.vs/
**/.idea/
.vs/
.idea/

# Ignore Jupyter Notebook checkpoint files
**/.ipynb_checkpoints/
.ipynb_checkpoints/

# Ignore python cache
**/__pycache__/
__pycache__

# Ignore virtual environments
venv/
env/