.top {
    position: relative;
    background-size: cover;
    color: black;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 60px auto;
}
.top-image {
    display: block;
    margin: 60px auto;
    max-width: 100%;
    height: auto;
}

.section-features {
    padding: 30px;
    margin: 30px auto;
    background-color: #e9ecef;
}