.container {
    max-width: 100%; /* Removes Bootstrap's default centering */
    width: 100%; 
    padding-left: 15px; 
    padding-right: 15px;
}

body {
    padding-left: 10px;  /* Small padding on the left */
    padding-right: 10px; /* Small padding on the right */
}
.section-features {
    padding: 30px;  /* Minimal padding */
    margin: 30px auto;
    width: 100%;
}
