{% extends 'root.html' %}

{% block head %}
    {{ super() }} 
    <meta http-equiv="refresh" content="5">
    <link rel="stylesheet" href="{{ url_for('static', filename='monitor.css') }}">
{% endblock %}

{% block content %}
    <div class="section-features">
        <div class="container">
            <h2 class="text-center">Monitoring Dashboard</h2>
            <p>Please see the model performance metrics during training below:</p>
            <ul>
                <li><strong>Accuracy:</strong> {{ metrics['accuracy'] }} </li>
                <li><strong>Macro Precision:</strong> {{ metrics['macro avg']['precision'] }}</li>
                <li><strong>Macro Recall:</strong> {{ metrics['macro avg']['recall'] }}</li>
                <li><strong>Macro F1-Score:</strong> {{ metrics['macro avg']['f1-score'] }}</li>
                <li><strong>Macro Support:</strong> {{ metrics['macro avg']['support'] }}</li>
                <li><strong>Red Support:</strong> {{ metrics['red']['support'] }}</li>
                <li><strong>Yellow Support:</strong> {{ metrics['yellow']['support'] }}</li>
                <li><strong>Green Support:</strong> {{ metrics['green']['support'] }}</li>
                <li><strong>Unknown Support:</strong> {{ metrics['unknown']['support'] }}</li>
            </ul>

            <h3 class="center-title">Macro Support</h3>
            <div>{{ chart1_html | safe }}</div>

            <h3 class="center-title">Macro Precision</h3>
            <div>{{ chart2_html | safe }}</div>

            <h3 class="center-title">Macro Recall</h3>
            <div>{{ chart3_html | safe }}</div>

            <h3 class="center-title">Macro F1-Score</h3>
            <div>{{ chart4_html | safe }}</div>
        </div>
    </div>
{% endblock %}